{
  "openapi": "3.0.1",
  "info": {
    "title": "Wikibot REST API",
    "description": "Wikibot REST API to manage knowledege bases and interacting with the bot",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tomleto.pro/api/bot"
    }
  ],
  "paths": {
    "/set-webhook-url": {
      "post": {
        "requestBody": {
          "description": "Задать webhook URL для бота",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create webhook url response"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ask": {
      "get": {
        "description": "Запрос возвращает синхронный ответ, либо вызывает webhook URL в зависимости от способа взаимодействия.",
        "parameters": [
          {
            "name": "chatId",
            "in": "query",
            "description": "Внешний идентификатор чата с клиентом",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Запрос",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ask query response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Answer"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/kb": {
      "get": {
        "description": "Запросить информацию по базе знаний",
        "responses": {
          "200": {
            "description": "response"
          },
          "400": {
            "description": "eror"
          }
        }
      }
    },
    "/kb-create": {
      "post": {
        "description": "Создать базу знаний",
        "responses": {
          "200": {
            "description": "success"
          },
          "400": {
            "description": "fail"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Webhook": {
        "required": ["url"],
        "type": "object",
        "properties": {
          "url": {
            "description": "Адрес вебхука",
            "type": "string"
          }
        }
      },
      "Answer": {
        "required": ["answer", "botId", "chatId", "type"],
        "type": "object",
        "properties": {
          "answer": {
            "description": "Ответ на вопрос",
            "type": "string"
          },
          "botId": {
            "description": "Идентификатор бота",
            "type": "string"
          },
          "chatId": {
            "description": "Идентификатор бота",
            "type": "string"
          },
          "type": {
            "description": "Тип ответа",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
